@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body {
    background: #f2f2f2;

    
}

header,footer {
    text-align: center;
    font-weight: bold;
}

header p, footer p {
   width: 100%;
    background: #cccccc;
    padding: 10px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}

ul {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

.logo {
    font-size: 2rem;
}

.container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 120px;
    align-items: center;
}

.container h1 {
 
    font-size: 2rem;
    position: relative;
}

.container h1::before {
    content: "";
    width: 20px;
    height: 8px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%);
    position: absolute;
    border-radius: 2px;
    transition: 0.3s ease;
}

.container h1:hover::before {
    width: 40px;
    transform: rotate(4deg);
}

.texto p {
    margin-top: 10px;
}

.fotos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    gap: 120px;
}

.fotos img {
    width: 360px;
    height: 380px;
    border-radius: 4px;
 box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 transition: 0.3s ease;
}


.fotos img:hover {
    transform: scale(1.05);
}

.fotos {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
}

.fotos p {
    font-weight: 500;
    font-size: 1.2rem;
}




@media (max-width:768px) {
    .fotos-container {
  grid-template-columns: 1fr ;
    }

    .fotos img {
    
    }

    header p,footer p{
        max-width: 100%;
    }

}